*{
    margin:0;
    padding:0;

}
.main{
   width:100%;
   background:url('image/dd.jpg');
   background-position: center;
   background-size: cover;
   height:109vh;
   background-repeat: no-repeat;
}