* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders are included in the total width and height */
}

html, body {
    height: 100%; /* Allows the hero section to take the full viewport height */
}

.main {
    height: 100vh; 
    width: 100%; 
    background-image: url('./image/back.jpg'); 
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; 
    justify-content: center; 
    overflow: hidden;       
    image-rendering: crisp-edges; 
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; 
    background-color: rgba(0, 0, 0, 0.9)
    
}
.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 1; 
}
@media (max-width: 768px) {
    .main {
        background-image: url('./image/back.jpg'); 
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .main {
        background-image: url('./image/back.jpg'); 
    }
}
